.form-container {
    width: 90vw;
    background-color: #f8f9fa;
    height: auto;
    margin: auto;
    margin-top: 1rem;
    border-radius: 8px;
}

.form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    margin-top: 12px;
    padding: 8px 12;
}

.input-group label {
    margin-bottom: 7px;
}

.input-group input {
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 0.7px solid grey;
}

.advise {
    font-size: 12px;   
    margin: auto;
    margin-top: 12px;
}

.button-section {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Para que el spinner y el botón se alineen verticalmente */
    width: 60%;          /* Debe coincidir con el ancho de tus .input-group */
    margin: 1.5rem auto; /* El 'auto' horizontal lo centra, el 1.5rem le da aire arriba */
}

.button-section button {
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}

.btn-save {
    background-color: rgb(71, 143, 119);
    color: white;
}

.btn-reset {
    background-color: grey;
    color: white;
}

.btn-save:active {
    background-color: #f8f9fa;
    border: 1px solid rgb(71, 143, 119);
    color: rgb(71, 143, 119);
    cursor: pointer;
}

.spinner {
    display: inline-block; /* Necesario para que el transform funcione */
    animation: rotate 1s linear infinite;
    color: #007bff; /* O el color de tu marca */
    font-size: 1.2rem;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}